.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav,
nav i.material-icons,
.sidenav-trigger,
.sidenav-trigger i {
  height: 100px;
  line-height: 100px;
}

.footer-anchor a {
    color: #ffffff;
}
