/* Overriding
materialize.css to achieve
desired results  */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav,
nav i.material-icons,
.sidenav-trigger,
.sidenav-trigger i {
  height: 100px;
  line-height: 100px;
}

/*  footer */ 
.footer-anchor a {
    color: #ffffff;
}

/* map placement */

#map {
    padding-top: 400px;
    min-height: 460px;
}

/* logo */
#glogo {
    width: 360px;
    height: 100px;
}


/* media queries */

@media (max-width: 568px) {
    #glogo {
    width: 150px;
    height: 75px;


}
}