/* Overriding
materialize.css to achieve
desired results  */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav,
nav i.material-icons,
.sidenav-trigger,
.sidenav-trigger i {
  height: 100px;
  line-height: 100px;
}

/*  footer */ 
.footer-anchor a {
    color: #ffffff;
}

/* map placement */

#map {
    padding-top: 400px;
    min-height: 460px;
}

/* logo */
#glogo {
    width: 360px;
    height: 100px;
}

/* photos */

.photo {
    width: 1280px;
    height: 860px;
}

/* media queries */

@media (max-width: 568px) {
    #glogo {
    width: 260px;
    height: 100px;


}
}

@media (max-width: 1600px) and ( min-width: 561px) {
    .photo{
    width: 520px;
    height: 380px;


}
}

@media (max-width: 560px) and (min-width: 280px) {
    .photo{
    width: 280px;
    height: 200px;


}
}