{% extends 'base.html' %} {% block content %}
<!-- content -->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header"><i class="material-icons">help</i>General Information</div>
                    <div class="collapsible-body"><span>We are a non-profit organisation that helps people with selecting proper tradesman for a certain job. It allows user to see other job whenever they are good or bad. Our application will always be for FREE.<br>If you are require some other information, please do no hestitate to use our 'Contact Us' form</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">person</i>I am customer</div>
                    <div class="collapsible-body"><span>As a customer is not happy with a job accomplished by a tradesman should use complain a job from the navigation bar in order to publish it so other people can benefit from it.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">local_shipping</i>I am tradesman</div>
                    <div class="collapsible-body"><span>If you are a tradesman that is offended by the service please contact with us so we can manage way out of it. Currently we are working on application that will allows all tradesman to interfere with customers publication of certain job. Please stay with us !</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
