{% extends 'base.html' %}
{% block content %}
<!-- header -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center"></div>

      <h1 class="header center black-text">Complain It </h1>
      <div class="row center">
        <h5 class="header col s12 light">Complain a local tradesman if the job he/she did is not good enough, so other people can rely on your experience and they can avoid unnecessary hustle.</h5>
      </div>
<br>
    </div>
  </div>


  

  {% endblock %}