{% extends 'base.html' %}
{% block content %}
<!-- header -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center"></div>

      <h1 class="header center black-text">Complain It </h1>
      <div class="row center">
        <h5 class="header col s12 light">Complain a local tradesman if the job he/she did is not good enough, so other people can rely on your experience and they can avoid unnecessary hustle.</h5>
      </div>
<br>
    </div>
  </div>
  <div class="container">
  <div class="row center"><h4>We are currently accepting jobs from these categories</h4></div>
  <div class="row center">
  <div class="col s4">
  Alarms<br>Builder<br>Fitter<br>Painter<br>Roofer<br>
  </div>
  <div class="col s4">Blacksmith<br>Carpenter<br>Gardener<br>Plasterer<br>Stoneworker<br>
  </div>
  <div class="col s4">Bricklayer<br>CCTV<br>Handyman<br>Plumber<br>Tiler<br>
  </div>
  </div>
  </div>
<br>

  

  {% endblock %}