{% extends 'base.html' %}
{% block content %}
<br><br>
<!-- content-->
<div class="container">
<div class="row center">
<ul>
{% for complain in complains %}

    
    <li>
    Uploaded by {{complain.your_name}}<br>
    Contractor name {{complain.job_name}}<br>
    Job description {{complain.job_description}}<br>
    County {{complain.County}}<br>
    <img src="{{url_for('file', filename=complain.photo_job_name)}}" alt="{{complain.photo_job_name}}">
    
    <br><br>
    </li>
    {% endfor %}
</ul>
</div>
</div>
{% endblock %}