{% extends 'base.html' %} {% block content %}
<!-- section -->
<div class="container">
    <br>

    <div class="section">

        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons">accessibility</i></h2>
                    <h5 class="center">Find your tradesman</h5>

                    <p class="light">At first it is advised to check in 'Search for complained job' in the menu section. If you find your desired tradesman you can judge yourself if the job he/she has done is satisfactory for YOU. </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons">add_to_queue</i></h2>
                    <h5 class="center">Complain the tradesman</h5>

                    <p class="light">If you wish to complain a tradesman simply use 'Complain a job' from navigation bar, then follow the guide how to upload a job you are not happy about.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons">phone_forwarded</i></h2>
                    <h5 class="center">Spread the Word!</h5>

                    <p class="light">If you are satisfied using our web application, simply spread the word about it to your friends, family or colleagues so they can avoid dissapointments in the future.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>
{% endblock %}
